#!/usr/bin/env bash
# https://github.com/janssenlima/api-zabbix
# This is Created by Harry.
ZABBIX_URL="{{ ZABBIX_URL }}"
USER="{{ zabbix_userlogin }}"
PASS="{{ zabbix_userpass }}"
# Client Details
HOST_NAME="$(hostname)"
IP="$(curl http://ipecho.net/plain)"
TEMPLATEID="{{ TEMPLATEID }}"
HOSTGROUPID="{{ HOSTGROUPID }}"

URL="${ZABBIX_URL}/api_jsonrpc.php"
HEADER='Content-Type:application/json'



auth()
{
    JSON='
    {
        "jsonrpc": "2.0",
        "method": "user.login",
        "params": {
            "user": "'${USER}'",
            "password": "'${PASS}'"
        },
        "id": 0
    }
    '
    curl -s -X POST -H "$HEADER" -d "$JSON" "$URL" | cut -d '"' -f8
}
TOKEN=$(auth)

create_host()
{
    JSON='
    {
        "jsonrpc": "2.0",
        "method": "host.create",
        "params": {
            "host": "'${HOST_NAME}'",
            "status": 0,
            "interfaces": [
                {
                    "type": 1,
                    "main": 1,
                    "useip": 1,
                    "ip": "'${IP}'",
                    "dns": "",
                    "port": 10050
                }
            ],
            "groups": [
                {
                    "groupid": '${HOSTGROUPID}'
                }
            ],
            "templates": [
                {
                    "templateid": '${TEMPLATEID}'
                }
            ]
        },
        "auth": "'$TOKEN'",
        "id": 1
    }
    '
    curl -s -X POST -H "$HEADER" -d "$JSON" "$URL" > /dev/null
}

create_host
echo "Host has been create successfully."
