; [program:{{ python_app_name }}_celery]
; command= /bin/bash -c "source {{ venv }}/bin/activate && {{ venv }}/bin/celery -A {{ python_app_name }} worker --loglevel=info"
; directory={{ python_app_dir }}/
; user={{ app_user }}
; numprocs=1
; stdout_logfile={{ web_directory }}/celery-worker.log
; stderr_logfile={{ web_directory }}/celery-worker.log
; autostart=true
; autorestart=true
; startsecs=10
; stopasgroup=true
; stopwaitsecs = 600
; killasgroup=true
;
; ; if rabbitmq is supervised, set its priority higher
; ; so it starts first
; priority=998
